<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

     <!-- Site Metas -->
    <title>SmartEDU - Education Responsive HTML5 Template</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="./images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="./style.css">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="./css/versions.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="./css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="./css/custom.css">

    <!-- icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Modernizer for Portfolio -->
    <script src="./js/modernizer.js"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="host_version">


<!-- LOADER -->
    <div id="preloader">
        <div class="loader-container">
            <div class="progress-br float shadow">
                <div class="progress__item"></div>
            </div>
        </div>
    </div>
    <!-- END LOADER -->

    <!-- Start header -->
    <header class="top-navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">
                    bubbleT
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbars-host">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="about.html">About Us</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Course </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown-a">
                                <a class="dropdown-item" href="course-grid-2.html">Course Grid 2 </a>
                                <a class="dropdown-item" href="course-grid-3.html">Course Grid 3 </a>
                                <a class="dropdown-item" href="course-grid-4.html">Course Grid 4 </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Blog </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown-a">
                                <a class="dropdown-item" href="blog.html">Blog </a>
                                <a class="dropdown-item" href="blog-single.html">Blog single </a>
                            </div>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="teachers.html">Teachers</a></li>
                        <li class="nav-item"><a class="nav-link" href="pricing.html">Pricing</a></li>
                        <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="hover-btn-new log orange" href="#" data-toggle="modal" data-target="#login"><span>Book Now</span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- End header -->

    <section class="container-fluid">
        <div class="row">
            <div class="col-2 bg-dark text-white pt-4">
                <h4 class="text-warning">Filtering</h4>
                <form method="post" action="#">
                    [stuff]
                </form>
            </div>

            <div class="col-8 pt-4">
                <div class="tab-content" id="view-type-tabContent">
                    <div class="tab-pane fade show active" id="view-type-table" role="tabpanel" aria-labelledby="view-type-table-tab">
                        <div id="table-menu" class="row mb-2">
                            <div class="col-8">
                            <div class="mb-0 alert alert-warning alert-dismissible fade show" role="alert">
                              <strong>Sample alert!</strong> This is a message to the user.
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            </div>
                            <div class="col-4">
                                <a class="btn btn-secondary" data-toggle="collapse" href="#sorting-options" role="button" aria-expanded="false" aria-controls="sorting-options">Sorting Options <i class="fas fa-cog"></i></a>
                            </div>
                        </div><!-- end table menu -->
                        <div id="sorting-options" class="collapse card text-white bg-secondary mb-2">
                          <div class="card-body">
                            <form method="post" action="#">
                                <div class="row">
                                    <div class="col-6">
                                        <h4 class="text-warning">Show columns</h4>
                                        <div class="form-check">
                                          <input class="form-check-input" type="checkbox" value="" id="table-show-all">
                                          <label class="form-check-label" for="table-show-all">
                                            <strong>Select All</strong>
                                          </label>
                                        </div>
                                        <div class="form-check">
                                          <input class="form-check-input" type="checkbox" value="" id="table-show-fname">
                                          <label class="form-check-label" for="table-show-fname">
                                            Sector
                                          </label>
                                        </div>
                                        <div class="form-check">
                                          <input class="form-check-input" type="checkbox" value="" id="table-show-salary">
                                          <label class="form-check-label" for="table-show-salary">
                                            Salary
                                          </label>
                                        </div>
                                        <div class="form-check">
                                          <input class="form-check-input" type="checkbox" value="" id="table-show-employ">
                                          <label class="form-check-label" for="table-show-employ">
                                            Employer
                                          </label>
                                        </div>
                                        <div class="form-check">
                                          <input class="form-check-input" type="checkbox" value="" id="table-show-fname">
                                          <label class="form-check-label" for="table-show-fname">
                                            First Name
                                          </label>
                                        </div>
                                        <div class="form-check">
                                          <input class="form-check-input" type="checkbox" value="" id="table-show-lname">
                                          <label class="form-check-label" for="table-show-lname">
                                            Last Name
                                          </label>
                                        </div>
                                        <div class="form-check">
                                          <input class="form-check-input" type="checkbox" value="" id="table-show-title">
                                          <label class="form-check-label" for="table-show-title">
                                            Job Title
                                          </label>
                                        </div>
                                        <div class="form-check">
                                          <input class="form-check-input" type="checkbox" value="" id="table-show-tb">
                                          <label class="form-check-label" for="table-show-tb">
                                            Taxable Benefits
                                          </label>
                                        </div>
                                        <hr>
                                        <div class="form-group row">
                                            <div class="col-4">
                                            <select class="form-control" id="table-perpage">
                                                <option value="25">25</option>
                                                <option value="50" selected>50</option>
                                                <option value="100">100</option>
                                            </select>
                                            </div>
                                            <label class="col pl-0">per page</label>
                                        </div>
                                    </div><!-- end left form column -->
                                    <div class="col-6">
                                        <h4 class="text-warning">Sort by</h4>
                                        <div class="input-group mb-2">
                                           <div class="input-group-prepend">
                                            <label class="input-group-text" for="table-sort-1">1</label>
                                           </div>
                                            <select id="table-sort-1" class="form-control">
                                                <option></option>
                                                <option>Sector</option>
                                                <option>Etc</option>
                                            </select>
                                        </div>
                                        <div class="input-group mb-2">
                                           <div class="input-group-prepend">
                                            <label class="input-group-text" for="table-sort-2">2</label>
                                           </div>
                                            <select id="table-sort-2" class="form-control">
                                                <option></option>
                                                <option>Sector</option>
                                                <option>Etc</option>
                                            </select>
                                        </div>
                                        <div class="input-group mb-2">
                                           <div class="input-group-prepend">
                                            <label class="input-group-text" for="table-sort-3">3</label>
                                           </div>
                                            <select id="table-sort-3" class="form-control">
                                                <option></option>
                                                <option>Sector</option>
                                                <option>Etc</option>
                                            </select>
                                        </div>
                                        <div class="input-group mb-2">
                                           <div class="input-group-prepend">
                                            <label class="input-group-text" for="table-sort-4">4</label>
                                           </div>
                                            <select id="table-sort-4" class="form-control">
                                                <option></option>
                                                <option>Sector</option>
                                                <option>Etc</option>
                                            </select>
                                        </div>
                                        <div class="input-group mb-2">
                                           <div class="input-group-prepend">
                                            <label class="input-group-text" for="table-sort-5">5</label>
                                           </div>
                                            <select id="table-sort-5" class="form-control">
                                                <option></option>
                                                <option>Sector</option>
                                                <option>Etc</option>
                                            </select>
                                        </div>
                                        <div class="input-group mb-2">
                                           <div class="input-group-prepend">
                                            <label class="input-group-text" for="table-sort-6">6</label>
                                           </div>
                                            <select id="table-sort-6" class="form-control">
                                                <option></option>
                                                <option>Sector</option>
                                                <option>Etc</option>
                                            </select>
                                        </div>
                                    </div><!-- end right form column -->
                                </div><!-- end row -->
                            </form>
                          </div><!-- end card-body -->
                          <div class="card-footer d-flex justify-content-between">
                            <button class="btn btn-outline-light">Clear</button>
                            <button class="btn btn-primary btn-lg">Update</button>
                          </div>
                        </div><!-- end sorting options .card -->

                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">First</th>
                              <th scope="col">Last</th>
                              <th scope="col">Handle</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">1</th>
                              <td>Mark</td>
                              <td>Otto</td>
                              <td>@mdo</td>
                            </tr>
                            <tr>
                              <th scope="row">2</th>
                              <td>Jacob</td>
                              <td>Thornton</td>
                              <td>@fat</td>
                            </tr>
                            <tr>
                              <th scope="row">3</th>
                              <td>Larry</td>
                              <td>the Bird</td>
                              <td>@twitter</td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="view-type-pie" role="tabpanel" aria-labelledby="view-type-pie-tab">
                        <!-- PIE CHART HTML GOES HERE -->
                    </div>
                    <div class="tab-pane fade" id="view-type-histogram" role="tabpanel" aria-labelledby="view-type-histogram-tab">
                        <!-- HISTOGRAM CHART HTML GOES HERE -->
                    </div>
                    <div class="tab-pane fade" id="view-type-line" role="tabpanel" aria-labelledby="view-type-line-tab">
                        <!-- LINE CHART HTML GOES HERE -->
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="message-box">
                    <a href="#" id="downloadSalaryButton" class="hover-btn-new orange"><span>Download</span></a>
                    <hr>
                    <nav class="nav nav-pills nav-fill flex-column"  id="view-type" role="tablist" aria-orientation="vertical">
                        <a class="nav-item nav-link active" id="view-type-table-tab" data-toggle="pill" href="#view-type-table" role="tab" aria-controls="view-type-table" aria-selected="true">
                            <i class="display-3 fas fa-table"></i><br>
                            Table
                        </a>
                        <a class="nav-item nav-link" id="view-type-pie-tab" data-toggle="pill" href="#view-type-pie" role="tab" aria-controls="view-type-pie" aria-selected="true">
                            <i class="display-3 fas fa-chart-pie"></i><br>
                            Pie Chart
                        </a>
                        <a class="nav-item nav-link" id="view-type-histogram-tab" data-toggle="pill" href="#view-type-histogram" role="tab" aria-controls="view-type-histogram" aria-selected="true">
                            <i class="display-3 fas fa-chart-bar"></i><br>
                            Histogram</a>
                        <a class="nav-item nav-link" id="view-type-line-tab" data-toggle="pill" href="#view-type-line" role="tab" aria-controls="view-type-line" aria-selected="true">
                            <i class="display-3 fas fa-chart-line"></i><br>
                            Line Graph
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-center">
                    <p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="#">SmartEDU</a> Design By : <a href="https://html.design/">html design</a></p>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="./js/all.js"></script>
    <script src="./js/utils.js"></script>
    <!-- ALL PLUGINS -->
    <script src="./js/custom.js"></script>
    <script src="./js/timeline.min.js"></script>
    <script>
        timeline(document.querySelectorAll('.timeline'), {
            forceVerticalMode: 700,
            mode: 'horizontal',
            verticalStartPosition: 'left',
            visibleItems: 4
        });
    </script>
    <script src="/reload/reload.js"></script>

</body>
</html>
